.myModal {
    position: fixed;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: none;

    background-color: rgba(0, 0, 0, 0.6);
}

.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.myModal__content {
    width: 350px;
    height: 350px;

    padding: 25px;

    background-color: rgba(186, 234, 228, 0.2);

    border-radius: 5%;
}